{% extends 'base.html.twig' %}
{% block body %}

</div>
    <!-- Blog Start -->
    <div class="container pt-5">
        <div class="d-flex flex-column text-center mb-5 pt-5">
            <h1 class="display-4 m-0"><span class="text-primary">Updates</span> From Blog</h1>
            <h4 class="text-secondary">Pet Blog</h4>
        </div>

       <div class="">
         {#   <form method="POST" action="{{ path('visites') }}" id="formulaire_visites">
                <div class="d-flex justify-content-center align-items-center p-4">
                    <div>
                        <select name="Pays" id="selectPays"> 
                            {% for pays in desPays %}
                                <option value="{{ pays.id }}">{{ pays.nom }}</option>                               
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <select name="Ville" id="selectVille"> 
                            {% for ville in villes %} 
                                <option value="{{ ville.id }}">{{ ville.nom }}</option>           
                            {% endfor %}
                        </select>           
                    </div>
                </div>
            </form>#}

           {{ form_start(form, {
               'action': path('visites') , 
               'method': 'GET', 
               'attr' : { 'id' : 'formulaire_visites'} })
            }}
            <div class="booking-wrap d-flex justify-content-center align-items-center">
                    <div>
                        <h4>Pays</h4>
                    </div>
                    <div class="pr-3 col-4">
                       {{ form_widget(form.pays, {
                           'attr': {'class': 'form-control',
                            'id':'selectPays'}})
                        }}
                    </div>
                    <div>
                        <h4>Ville</h4>
                    </div>
                    <div class=" pr-3 col-4">
                       {{ form_widget(form.ville, {
                           'attr': {'class': 'form-control',
                            'id':'selectVille'}})
                        }}
                    </div>
                 <div class="single-select-box pt-45 mb-30">
                    <button type="submit" class="btn select-btn btn-primary" id="btnSearch">Recherche</button>
                </div> 
            </div> 
            {{ form_end(form) }} 
        </div>
        
        <div id="contenuRecherche"></div>

        <div class="row pb-3 pt-5">
            {% for annonce in resultatRecherche %}
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 mb-2">
                        {# <img class="card-img-top" src="{{asset('assets/img/blog-1.jpg')}}" alt=""> #}
                        <div class="card-body bg-light p-4">
                            <h4 class="card-title text-truncate">{{annonce.nomLieu}}</h4>
                            {# <div class="d-flex mb-3">
                                <small class="mr-2"><i class="fa fa-user text-muted"></i> Admin</small>
                                <small class="mr-2"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                 <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>  #}
                            <p> {{annonce.description}}</p>
                            <p>Dans la région de: {{annonce.region}}</p>
                            <!-- pour que le lien fonctionne indique que id = l'id de l'annonce -->
                            <a class="font-weight-bold"
                               href="{{ path('articleVisite', {'id': annonce.id} ) }}">
                               Lire la suite
                            </a>
                        </div>
                    </div>
                 </div>
            {% endfor %}
        </div>

        <div class="col-lg-12">
            <nav aria-label="Page navigation">
             <div class="pagination justify-content-center">
                {% do resultatRecherche.setPageRange(2) %}
                 {{ knp_pagination_render(resultatRecherche, 'recherche_visites/pagination.html.twig') }}
             </div>
            </nav>
        </div>
    </div>
</div>
    <!-- Blog End -->

{% block javascripts %}
<script>

const selectPays = document.getElementById("selectPays");
console.log(selectPays);
const selectVille = document.getElementById("selectVille");
console.log(selectVille);

selectPays.addEventListener("change", function (event){
    console.log('testChangementDePays');
    axios({
            url:'{{path ("traitement_pays_visites")}}',
            method:'POST',
            headers:{'Content-type': 'multipart/form-data'},
            data: new FormData(document.getElementById("formulaire_visites"))
        })
        .then(function (response){
            console.log(response.data);
            //remet l'option ville a 0
            selectVille.options.length = 0;

            //charge les nouvelles options
            var options = response.data;
            console.log(options[0].villes);
            console.log(selectVille.options);
            for ( index = 0; index < options[0].villes.length; index++) {
                option = options[0].villes[index];
                selectVille.options.add(new Option(option.nom, option.id));
            }
        }).catch(function(error){
            console.log (error);
        })
});

</script>

{% endblock %}

{% endblock %}

  